
// Header
$dark-theme-header-background-color: #222222;
$dark-theme-input-background: #101010;
$dark-theme-button-search-background-color: #333333;
$icon-button-search-background-color: #666666;

// Body
$dark-theme-background-color: #151515;
$dark-theme-text-color: #FAFAFA;
$light-theme-background-color: #FAFAFA;
$light-theme-text-color: #222222;
