@import "../../utils/variables";

@mixin itemStyle {
    padding: 10px 30px;
    display: flex;
    align-items: center;

    span {
        margin-left: 15%;
        font-size: 14px;
    }

    &:hover {
        background-color: lighten($dark-theme-gray-background-color, 10%);
        cursor: pointer;
    }
}

aside {
    width: 230px;
    height: 100vh;
    background-color: $dark-theme-gray-background-color;
    display: flex;
    flex-direction: column;

    .main-sections {
        padding: 10px 2px;
    }

    .main-sections-item {
        @include itemStyle()
    }

    .related-sections {
        padding: 10px 2px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .related-sections-item {
        @include itemStyle()
    }
}
